* {
  font-family: Roboto sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul, ol {
  list-style-type: none; }

a {
  text-decoration: none; }

.btn {
  width: 113px;
  height: 24px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  margin: 0 auto; }

.subtitle {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase; }

header {
  padding-top: 11px;
  padding-bottom: 0px;
  min-height: 53px;
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  header .header_burger {
    position: absolute;
    right: 22px;
    top: 26px;
    display: none; }
    header .header_burger .button {
      display: block;
      width: 26px;
      height: 3px;
      background: #FFF;
      position: relative; }
      header .header_burger .button::before, header .header_burger .button::after {
        content: "";
        display: block;
        width: 26px;
        height: 3px;
        background: #FFF;
        position: absolute; }
      header .header_burger .button::before {
        top: 5px; }
      header .header_burger .button::after {
        bottom: 5px; }
  header .header_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    header .header_list .header_item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 31px;
      list-style-type: none;
      border-right: 2px dashed #000;
      padding-right: 40px; }
      header .header_list .header_item a {
        text-decoration: none;
        color: #FFF;
        font-size: 15px;
        font-weight: 300; }
    header .header_list li:last-child {
      border-right: none; }

.order {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 19px;
  min-height: 87px;
  background: rgba(0, 0, 0, 0.6);
  height: 87px; }
  .order_img {
    width: 285px;
    height: 32px; }
  .order_desc {
    color: #FFF;
    font-size: 13.5px;
    font-weight: 100; }
  .order_tell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 24px;
            column-gap: 24px; }
  .order_link {
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none; }
  .order_btn {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    display: block;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    text-transform: uppercase;
    width: 172px;
    height: 46px;
    border-radius: 4px;
    background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    -webkit-box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
            box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset; }

.about {
  padding-top: 155px;
  padding-bottom: 185px;
  min-height: 799px;
  background: url("../img/uber_bg.jpg") center/cover no-repeat;
  position: relative; }
  .about h1 {
    color: #FFF;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase; }
  .about h2 {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px; }
  .about p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    padding: 0 70px; }
  .about button {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    width: 259px;
    height: 63px;
    border-radius: 4px;
    background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    -webkit-box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
            box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.12) inset;
    display: block;
    margin: 0 auto;
    margin-top: 116px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    font-weight: 400;
    text-transform: uppercase; }

.advantage {
  padding-top: 20px;
  padding-bottom: 64px;
  min-height: 869px; }
  .advantage .btn {
    color: #FFF;
    background: #000;
    margin-bottom: 33px; }
  .advantage .subtitle {
    color: #222;
    margin-bottom: 16px; }
  .advantage_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    min-height: 116px; }
  .advantage_icon {
    width: 116px;
    height: 116px;
    background: #1EACC7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .advantage_desc {
    max-width: 371px;
    margin-bottom: 26px; }
    .advantage_desc h2 {
      color: #1EACC7;
      font-size: 17px;
      font-weight: 400;
      line-height: 21px; }
    .advantage_desc p {
      color: #202020;
      font-size: 15px;
      font-weight: 300;
      color: #202020;
      line-height: 21px; }

.mobile {
  padding-top: 48px;
  padding-bottom: 80px;
  min-height: 864px;
  background: url("../img/mobile_bg.jpg") center/cover no-repeat; }
  .mobile .btn {
    background: #000;
    color: #FFF;
    margin-bottom: 33px; }
  .mobile .subtitle {
    color: #000; }
  .mobile_desc {
    color: #222;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px; }
  .mobile_card {
    width: 320px;
    height: 280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 19px; }
    .mobile_card h2 {
      color: #FFF;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase; }
    .mobile_card div {
      position: relative;
      width: 29px;
      height: 29px;
      background: #000;
      border-radius: 50%;
      cursor: pointer; }
      .mobile_card div::before, .mobile_card div::after {
        content: "";
        display: block;
        height: 2px;
        width: 14px;
        background: #1EACC7;
        position: absolute;
        top: 50%;
        right: 8px; }
      .mobile_card div::after {
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg); }
  .mobile_card_1 {
    background: url("../img/mobile_card_bg/card_1.jpg") center/cover no-repeat; }
  .mobile_card_2 {
    background: url("../img/mobile_card_bg/card_2.jpg") center/cover no-repeat; }
  .mobile_card_3 {
    background: url("../img/mobile_card_bg/card_3.jpg") center/cover no-repeat; }
  .mobile_card_4 {
    background: url("../img/mobile_card_bg/card_4.jpg") center/cover no-repeat; }
  .mobile_card_5 {
    background: url("../img/mobile_card_bg/card_5.jpg") center/cover no-repeat; }
  .mobile_card_6 {
    background: url("../img/mobile_card_bg/card_6.jpg") center/cover no-repeat; }

.possibilities {
  padding-top: 59px;
  padding-bottom: 0;
  min-height: 502px;
  background: #070716; }
  .possibilities .btn {
    margin-bottom: 27px; }
  .possibilities .subtitle {
    color: #FFF; }
  .possibilities_desc {
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
    text-align: center; }

.car {
  position: relative;
  margin: 0 auto; }
  .car div {
    background: url("../img/car_bg.png") center/cover no-repeat;
    width: 759px;
    height: 480px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%); }

.desc {
  padding-top: 210.5px;
  padding-bottom: 137.5px;
  min-height: 397px;
  background: url("../img/substrate_bg.jpg") center/cover no-repeat; }
  .desc div {
    color: #222;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    line-height: 24px; }

.requirements {
  padding-top: 68px;
  padding-bottom: 90px;
  min-height: 920px; }
  .requirements .btn {
    color: #FFF;
    background: #000;
    margin-bottom: 28px; }
  .requirements .subtitle {
    color: #222;
    margin-bottom: 33px; }
  .requirements_subtitle {
    color: #1CA8C3;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px; }
  .requirements_list {
    width: 450px; }
  .requirements_item {
    color: #222;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    position: relative;
    padding-left: 12px;
    margin-bottom: 5px; }
    .requirements_item::before {
      background: url("../icon/rectangle.png") center/cover no-repeat;
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      left: -5%;
      top: 0; }
  .requirements_desc {
    color: #1CA8C3;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 61px; }
  .requirements_list__red {
    width: 455px; }
  .requirements_subtitle__red {
    color: red; }
  .requirements_item__red::before {
    background: url("../icon/layer.png") center/cover no-repeat; }

.world {
  padding-top: 48px;
  padding-bottom: 21px;
  min-height: 716px;
  background: url("../img/world_bg.jpg") center/cover no-repeat;
  position: relative; }
  .world .btn {
    margin-bottom: 26px; }
  .world .subtitle {
    color: #FFF;
    margin-bottom: 2px; }
  .world_desc {
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
    color: #FFF;
    text-align: center; }
  .world_link {
    color: #1FBAD6;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 43px;
    width: 100%; }

.footer {
  padding-top: 12px;
  padding-bottom: 27px;
  min-height: 156px;
  position: relative; }
  .footer .separator {
    width: 301px;
    height: 7px;
    background-color: #1FBAD6;
    margin: 0 auto;
    margin-bottom: 31.5px; }
  .footer_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer_social {
    padding-left: 23px; }
  .footer_icon {
    font-size: 35px;
    margin-right: 6px;
    display: inline-block;
    color: #070716; }
  .footer_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 39px;
            column-gap: 39px; }
  .footer_item {
    color: #070716;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase; }
    .footer_item a {
      color: #070716; }
  .footer_store {
    padding-right: 21px; }
    .footer_store img {
      height: 27px;
      cursor: pointer;
      border-radius: 5px;
      margin-right: 4px; }
  .footer_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    -webkit-transform: translate(52%, 0);
            transform: translate(52%, 0);
    right: 52%;
    top: 50px; }
  .footer_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 18px;
            column-gap: 18px; }
    .footer_list li {
      color: #999;
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase; }
  .footer_language {
    color: #1FBAD6;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase; }
    .footer_language a {
      color: #1FBAD6; }

@media (min-width: 992px) and (max-width: 1200px) {
  .advantage_card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

  .advantage_desc {
    max-width: 310px; } }
@media (min-width: 768px) and (max-width: 992px) {
  header .header_list .header_item a {
    font-size: 12px; }

  header .header_list .header_item {
    padding-right: 10px; }

  .order_link {
    font-size: 20px; }

  .about {
    padding-bottom: 120px; }
    .about h1 {
      font-size: 50px; }
    .about h2 {
      font-size: 30px; }
    .about p {
      font-size: 14px; }

  .advantage .subtitle {
    font-size: 32px;
    margin-bottom: 22px; }
  .advantage_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .advantage_icon {
    margin-bottom: 15px; }
  .advantage_desc h2 {
    text-align: center; }

  .mobile .subtitle {
    font-size: 30px; }

  .requirements_list {
    width: 350px; }
  .requirements_item {
    font-size: 13px; }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer_row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .footer_about {
      position: static;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      margin-bottom: 20px; }
    .footer_social {
      padding: 0;
      margin-bottom: 10px; }
    .footer ul {
      padding: 0; } }
@media (min-width: 576px) and (max-width: 767px) {
  header .header_list {
    display: none; }

  header .header_burger {
    display: block; }

  .order {
    height: auto;
    min-height: auto;
    padding-top: 10px;
    padding-bottom: 10px; }
    .order .row {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .order_desc {
      display: none; }
    .order_img {
      width: 130px;
      height: 12px; }
    .order_link {
      font-size: 16px;
      padding-right: 3px; }
    .order_btn {
      width: 110px;
      height: 22px;
      font-size: 10px; }
    .order_tell {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }

  .about {
    min-height: 399px;
    padding-top: 120px;
    padding-bottom: 50px; }
    .about h1 {
      font-size: 40px; }
    .about h2 {
      font-size: 32px; }
    .about p {
      display: none; }

  .advantage .subtitle {
    margin-bottom: 22px;
    font-size: 26px; }
  .advantage_card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .advantage_icon {
    margin-bottom: 22px; }
  .advantage_desc {
    max-width: 100%; }
    .advantage_desc h2 {
      font-size: 22px;
      margin-bottom: 10px;
      text-align: center; }

  .mobile .subtitle {
    font-size: 22px; }
  .mobile_card {
    height: 250px;
    width: auto; }

  .possibilities {
    min-height: 400px; }
    .possibilities .subtitle, .possibilities_desc {
      display: none; }

  .car div {
    width: 570px;
    height: 365px; }

  .desc {
    background: #070716; }
    .desc div {
      color: #FFF;
      font-size: 17px;
      font-weight: 300;
      line-height: 24px; }

  .requirements .subtitle {
    margin-bottom: 22px;
    font-size: 30px; }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer_row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .footer_about {
      position: static;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      margin-bottom: 20px; }
    .footer_social {
      padding: 0;
      margin-bottom: 10px; }
    .footer ul {
      padding: 0; } }
@media (max-width: 576px) {
  header .header_list {
    display: none; }

  header .header_burger {
    display: block; }

  .order {
    height: auto;
    min-height: auto;
    padding-top: 10px;
    padding-bottom: 10px; }
    .order .row {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .order .row > div {
        width: 40%; }
    .order_desc {
      display: none; }
    .order_img {
      width: 130px;
      height: 15px; }
    .order_link {
      font-size: 12px; }
    .order_btn {
      width: 110px;
      height: 22px;
      font-size: 10px; }
    .order_tell {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

  .about {
    min-height: 399px;
    padding-top: 101px;
    padding-bottom: 34px; }
    .about h1 {
      font-size: 30px; }
    .about h2 {
      font-size: 20px; }
    .about p {
      display: none; }

  .advantage {
    padding-top: 23px;
    padding-bottom: 38px; }
    .advantage .subtitle {
      margin-bottom: 22px;
      font-size: 16px; }
    .advantage_card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .advantage_icon {
      margin-bottom: 24px; }
    .advantage_desc {
      max-width: 100%;
      font-size: 15px; }
      .advantage_desc h2 {
        font-size: 16px;
        margin-bottom: 10px;
        text-align: center; }

  .mobile {
    padding-top: 28px;
    padding-bottom: 43px; }
    .mobile .subtitle {
      font-size: 16px; }
    .mobile_card {
      height: 250px;
      width: auto; }

  .possibilities {
    min-height: 200px;
    padding-top: 26px;
    padding-bottom: 31px; }
    .possibilities .subtitle, .possibilities_desc {
      display: none; }

  .car div {
    width: 300px;
    height: 190px; }

  .desc {
    background: #070716;
    min-height: 200px;
    padding-top: 100px;
    padding-bottom: 31px; }
    .desc div {
      color: #FFF;
      font-size: 21px;
      font-weight: 300;
      line-height: 24px; }

  .requirements {
    padding-bottom: 30px;
    padding-top: 24px; }
    .requirements .subtitle {
      margin-bottom: 30px;
      font-size: 16px; }
    .requirements_subtitle {
      font-size: 16px; }
    .requirements_list {
      width: 100%; }
    .requirements_item {
      font-size: 14px; }
    .requirements_desc {
      display: none; }

  .world {
    min-height: 360px;
    padding-top: 26px;
    padding-bottom: 29.5px; }
    .world .subtitle {
      font-size: 16px; }
    .world_desc {
      font-size: 14px; }
    .world_link {
      font-size: 15px; }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .separator {
      width: 255px; }
    .footer_nav {
      -webkit-column-gap: 13px;
              column-gap: 13px; }
    .footer_item {
      font-size: 14px; }
    .footer_list li {
      font-size: 7px; }
    .footer_row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .footer_about {
      position: static;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      margin-bottom: 20px; }
    .footer_social {
      padding: 0;
      margin-bottom: 10px; }
    .footer ul {
      padding: 0; }
    .footer_store img {
      height: 24px; } }

/*# sourceMappingURL=style.css.map */