*{
    font-family: Roboto sans-serif ;
    box-sizing: border-box;
}

ul,ol{
list-style-type: none;
}

a{
    text-decoration: none;
}

@import "variables";
@import "mixins";
@import "general";
@import "media";

